#header {
  height: 60px;
  background-color: #fff;
  box-shadow: 0 3px 2px 0 #000;
  border-bottom: 1px solid #c0c0c0; }
  #header #shouye {
    margin-left: 160px;
    line-height: 60px;
    font-size: 14px;
    color: #666666; }
  #header #info {
    margin-right: 80px;
    margin-top: 20px;
    color: #999999;
    font-size: 12px; }
    #header #info span {
      margin-left: 36px;
      color: #333; }

#main {
  overflow: hidden;
  background-color: #f8f8f8; }
  #main h1 {
    margin-top: 24px; }
    #main h1 a {
      height: 30px;
      display: inline-block; }
    #main h1 a.logo {
      width: 40px;
      background: url("../images/logo.png") no-repeat top center; }
    #main h1 a.logo_text {
      width: 74px;
      background: url("../images/logo_txt.png") no-repeat top center; }
  #main .line {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 30px; }
  #main span.choose {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    vertical-align: middle;
    font-family: iconfont;
    position: relative;
    line-height: 17px; }
    #main span.choose:before {
      width: 100%;
      height: 100%;
      position: absolute;
      font-size: 17px;
      color: #ff5e5e;
      top: -1px;
      left: -1px; }
  #main .table_header {
    height: 39px;
    line-height: 39px;
    margin-top: 24px;
    color: #66667f;
    font-size: 12px; }
    #main .table_header a {
      color: #666666;
      font-size: 12px; }
    #main .table_header span.goods_info {
      margin-left: 70px; }
    #main .table_header span.danjia {
      margin-left: 150px; }
    #main .table_header span.shuliang {
      margin-left: 160px; }
    #main .table_header span.xiaoji {
      margin-left: 170px; }
    #main .table_header span.caozuo {
      margin-left: 90px; }
  #main .table_body {
    margin-top: 20px; }
    #main .table_body .an_info .ziyi {
      height: 55px;
      line-height: 55px;
      font-size: 12px;
      -webkit-border-radius: 3px 3px 0 0;
      -moz-border-radius: 3px 3px 0 0;
      border-radius: 3px 3px 0 0; }
      #main .table_body .an_info .ziyi a {
        color: #333; }
    #main .table_body .an_info .goods_detail {
      overflow: hidden;
      height: 163px;
      border-top: none;
      -webkit-border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px; }
      #main .table_body .an_info .goods_detail p.extro {
        font-size: 12px;
        color: #666666;
        margin-top: 16px;
        margin-bottom: 30px; }
      #main .table_body .an_info .goods_detail span.huangou {
        display: inline-block;
        padding: 4px;
        margin-right: 10px;
        font-size: 12px;
        color: #fff;
        background-color: #fda55b; }
      #main .table_body .an_info .goods_detail .goods_info {
        font-size: 12px; }
        #main .table_body .an_info .goods_detail .goods_info .left a, #main .table_body .an_info .goods_detail .goods_info .left img {
          vertical-align: middle; }
        #main .table_body .an_info .goods_detail .goods_info .center {
          width: 260px;
          font-size: 12px;
          margin-left: 20px; }
          #main .table_body .an_info .goods_detail .goods_info .center p {
            color: #333; }
          #main .table_body .an_info .goods_detail .goods_info .center span {
            color: #aaaaaa; }
        #main .table_body .an_info .goods_detail .goods_info .price {
          color: #333;
          margin-left: 48px; }
        #main .table_body .an_info .goods_detail .goods_info div.number {
          width: 80px;
          height: 22px;
          padding: 3px 0;
          border: 1px solid #dfdfdf;
          margin-left: 106px; }
          #main .table_body .an_info .goods_detail .goods_info div.number b {
            width: 20px;
            text-align: center;
            line-height: 24px;
            display: inline-block;
            font-size: 16px;
            cursor: pointer; }
          #main .table_body .an_info .goods_detail .goods_info div.number input {
            text-align: center;
            font-size: 14px;
            width: 38px;
            border-top: 0;
            border-bottom: 0;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf; }
        #main .table_body .an_info .goods_detail .goods_info .xiaoji {
          margin-left: 126px; }
        #main .table_body .an_info .goods_detail .goods_info .option {
          width: 20px;
          height: 20px;
          font-family: iconfont;
          font-size: 20px;
          cursor: pointer;
          margin-left: 120px; }
    #main .table_body .an_info .pay {
      height: 50px;
      border-top: 0;
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 50px;
      padding-right: 30px; }
      #main .table_body .an_info .pay .allpay {
        color: #333; }
        #main .table_body .an_info .pay .allpay span {
          color: #ff5e5e;
          font-weight: 700; }
    #main .table_body .payall {
      height: 58px;
      background-color: #fff;
      margin-bottom: 50px;
      line-height: 58px; }
      #main .table_body .payall .left {
        font-size: 12px;
        padding-left: 30px; }
        #main .table_body .payall .left a {
          color: #333; }
      #main .table_body .payall .right {
        font-size: 12px;
        color: #333; }
        #main .table_body .payall .right .has_choose {
          color: #ff5e5e; }
        #main .table_body .payall .right .payfor {
          font-size: 16px;
          font-weight: 700;
          color: #ff5e5e; }
        #main .table_body .payall .right button {
          width: 110px;
          height: 60px;
          border: 0;
          font-size: 16px;
          color: #fff;
          margin-left: 25px;
          cursor: pointer;
          background-color: #ff6c6c; }

#foot {
  height: 448px;
  background-color: #fff; }
  #foot #foot_top li {
    width: 267px;
    height: 126px;
    float: left;
    padding-top: 28px; }
    #foot #foot_top li div.right {
      padding-top: 10px;
      margin-left: 20px; }
      #foot #foot_top li div.right h5 {
        font-size: 18px;
        color: #333333; }
      #foot #foot_top li div.right p {
        font-size: 14px;
        color: #999; }
    #foot #foot_top li div {
      float: left;
      height: 70px; }
  #foot #foot_link dl {
    float: left;
    margin-right: 100px; }
  #foot #foot_link dt {
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px; }
  #foot #foot_link dd {
    color: #666666;
    font-size: 12px;
    line-height: 24px; }
  #foot #foot_bottom {
    font-size: 12px;
    text-align: center; }
    #foot #foot_bottom p {
      color: #333; }
    #foot #foot_bottom #copyright {
      color: #666666;
      margin-top: 16px;
      margin-bottom: 25px; }
    #foot #foot_bottom #beian img {
      margin-right: 10px; }

/*# sourceMappingURL=bill.css.map */
